html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

section {
  background-color: #f2f2f2;
}

img {
  display: block;
  width: 100%;
}

div {
  max-width: 25em;
  display: inline-block;
  padding: 1em .5em;
  margin: 0;
  vertical-align: middle;
}

p {
  margin: 1.5em 0 1em;
  text-align: left;
}

.btn {
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  border: 3px solid #fff;
  padding: 0.4em 0.75em 0.3em;
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-ghost {
  color: #333;
  background-color: #fff;
  border-color: #000;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}
